/* via http://slatejs.org/index.css */
html,
input,
textarea {
  font-family: 'sofia-pro-soft', sans-serif;
  line-height: 1.4;
  background: #eee;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

pre {
  padding: 10px;
  background-color: #eee;
  white-space: pre-wrap;
}

:not(pre) > code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
}

img {
  max-width: 100%;
  max-height: 20em;
}

img.active {
  box-shadow: 0 0 0 2px blue;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

blockquote[dir="rtl"] {
  border-left: none;
  padding-left: 0;
  padding-right: 10px;
  border-right: 2px solid #ddd;
}

table {
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 2px solid #ddd;
  transition: border-color .2s;
}

th {
  padding: 10px;
  border: 2px solid #ddd;
  transition: border-color .2s;
  background: #eee;
}

input {
  box-sizing: border-box;
  font-size: .85em;
  width: 100%;
  padding: .5em;
  border: 2px solid #ddd;
  background: #fafafa;
}

input:focus {
  outline: 0;
  border-color: blue;
}

/**
 * Icons.
 */

.material-icons {
  font-size: 18px;
  vertical-align: text-bottom;
}

/**
 * App.
 */

.nav {
  padding: 10px 15px;
  color: #AAA;
  background: #000;
}

.nav-title {
  margin-right: 0.5em;
}

.nav-links {
  float: right;
}

.nav-link {
  margin-left: 1em;
  color: #AAA;
  text-decoration: none;
}

.nav-link:hover {
  color: #FFF;
  text-decoration: underline;
}

.tabs {
  padding: 15px 15px;
  background-color: #222;
  text-align: center;
  margin-bottom: 30px;
}

.tab {
  color: #777;
  display: inline-block;
  text-decoration: none;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  margin-bottom: 0.2em;
}

.tab:hover {
  background: #333;
}

.tab + .tab {
  margin-left: 0.5em;
}

.tab.active {
  color: white;
  background: #333;
}

/**
 * Example.
 */

.example, .error, .tips {
  max-width: 42em;
  margin: 0 auto 20px;
  padding: 20px;
}

.example {
  background: #fff;
}

.error {
  background: #fffae0;
}

.error .info {
  background: #fbf1bd;
  white-space: pre;
  overflow-x: scroll;
  margin-bottom: 0;
}

.editor {
  min-height: 300px;
}

.editor > * > * + * {
  margin-top: 1em;
}

.button {
  color: #666;
  cursor: pointer;
  border: none;
  background: none;
  border: 0;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  text-align: center;
  min-width: 20px;
  min-height: 20px;
  display: inline-block;
}

.button:disabled {
  color: #ccc;
}

.button[data-active="true"] {
  color: black;
}

.toolbar-menu {
  position: relative;
  padding: 1px 18px 17px;
  margin: 0 -20px;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}

.toolbar-menu__left > *,
.toolbar-menu__right > * {
  display: inline-block;
}

.toolbar-menu__left > * + *,
.toolbar-menu__right > * + * {
  margin-left: 8px;
}

.toolbar-menu__right {
  float: right;
}

.toolbar-menu i {
  width: 20px;
}

.toolbar-menu .search {
  position: relative;
}

.toolbar-menu .menu_color,
.toolbar-menu .menu_character,
.toolbar-menu .menu_rule,
.toolbar-menu .menu_tables,
.toolbar-menu .menu_patterns {
  position: absolute;
  background: #fff;
  border: 1px solid #000;
  padding: 5px;
  z-index: 100;
}

.toolbar-menu .menu_color {
  left: 330px;
}

.toolbar-menu .menu_character {
  left: 360px;
}

.toolbar-menu .menu_rule {
  left: 390px;
}

.toolbar-menu .menu_tables {
  left: 415px;
}

.toolbar-menu .menu_patterns {
  left: 445px;
}

.toolbar-menu .menu_rule span {
  height: 25px;
  display: block;
  text-align: left;
  padding-top: 3px;
  padding-bottom: 3px;
}

.toolbar-menu .menu_character span {
  width: 15px;
}

.toolbar-menu .menu_tables span,
.toolbar-menu .menu_patterns span {
  display: block;
  text-align: left;
  padding-top: 3px;
  padding-bottom: 3px;
}

.toolbar-menu .menu_color .menu,
.toolbar-menu .menu_character .menu,
.toolbar-menu .menu_rule .menu,
.toolbar-menu .menu_tables .menu {
  padding: 5px;
}

.toolbar-menu .search-icon {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  color: #ccc;
}

.toolbar-menu .search-box {
  padding-left: 2em;
  width: 100%;
}

.hover-menu {
  padding: 8px 7px 6px;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity .75s;
}

.hover-menu .button {
  color: #aaa;
}

.hover-menu .button[data-active="true"] {
  color: #fff;
}

.emoji.selected {
  outline: 2px solid blue;
}

.check-list-item + .check-list-item {
  margin-top: 0;
}

.check-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.check-list-item.checked {
  opacity: 0.666;
  text-decoration: line-through;
}

.check-list-item > span:first-child {
  margin-right: 0.75em;
}

.check-list-item > span:last-child {
  flex: 1;
}

.check-list-item > span:last-child:focus {
  outline: none;
}

.word-counter {
  margin-top: 10px;
  padding: 12px;
  background-color: #EBEBEB;
  display: inline-block;
}

.underbar {
  display: inline-block;
  border-bottom: 1px solid grey;
  width: 3em;
  padding: 3px;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 14px;
  height: 14px;
}
.underbar_l {
  display: inline-block;
  border-bottom: 1px solid grey;
  width: 5em;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 14px;
  height: 14px;
}
.underbar_xl {
  display: inline-block;
  border-bottom: 1px solid grey;
  width: 8em;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 14px;
  height: 14px;
}

.color_black {
  color: #000;
}
.color_grey {
  color: #ccc;
}
.color_darkgrey {
  color: #555;
}

.color_red {
  color: #FD4242;
}
.color_yellow {
  color: #FEDA32;
}
.color_blue {
  color: #25CCED;
}

.color_male {
  color: #25CCED;
}
.color_female {
  color: #FD426E;
}
.color_neuter {
  color: #B3B3B3;
}

.color_dative {
  color: #00E6C2;
}
.color_accusative {
  color: #baa2ee;
}

.table_active,
.table_active tr,
.table_active th,
.table_active td {
  border-color: #444;
}

.table_arrow {
  min-width: 300px;
}

.table_arrow tr td {
  min-width: 100px;
}

.table_arrow tr td:nth-child(2) {
  width: 16px;
  min-width: 16px;
}

.table_conversation {
  min-width: 300px;
}

.table_conversation tr td {
  border: none;
}

.table_conversation tr:nth-child(even) td:first-child > span {
  background: cyan;
}

.table_conversation tr td:first-child {
  width: 30px;
}

.table_conversation tr td:first-child > span {
  display: block;
  text-indent: -9999px;
  background: grey;
  border-radius: 30px;
  width: 30px;
  height: 30px;
}

.table_middle {
  min-width: 300px;
}

.table_middle tr td {
  min-width: 100px;
}

.separator {
  width: 3px;
  color: #eee;
  margin-right: 5px;
}
.separator:after {
  content: "•"
}

.tips {
  font-style: italic;
}

.mark_bold {
  font-weight: bold;
}

.mark_italic {
  font-style: italic;
}

.mark_underline {
  text-decoration: underline;
}

.mark_strikethrough {
  text-decoration: line-through;
}

.mark_learningLanguage {
  background: #eee;
  padding: 5px;
}

.align_left {
  text-align: left;
}

.align_center {
  text-align: center;
}

.align_right {
  text-align: right;
}

.pattern__text_item {
  font-size: 20px;
  font-weight: bold;
}

.pattern__translation_item {
  font-size: 14px;
  color: #888;
}

.pattern__center_block {
  padding: 20px;
  background: #ccc;
  text-align: center;
}

.pattern__watchout_block {
  padding: 20px;
  background: rgba(254, 247, 205, 1);
}

.pattern__cultural_block {
  padding: 20px;
  background: rgba(226, 247, 252, 1);
}

.pattern__note_block {
  padding: 20px;
  background: rgba(249, 249, 249, 1);
}

.pattern__conversation_block {
  padding: 20px;
  background: #e3e;
}

.pattern__examples_block {
  padding: 20px;
  background: #eee;
  text-align: center;
}

/* Just a plain list item can be a student item! */
.pattern__conversation_block .pattern__normal_item,
.pattern__conversation_block .pattern__student_item {
  padding: 10px;
  background-color: cyan;
  text-align: left;
}

.pattern__tutor_item {
  padding: 10px;
  background-color: lightgreen;
  text-align: right;
}
